* {
  box-sizing: border-box;
  font-family: 'Germania One', cursive;
  /* border: 1px black solid */
}


body {
  font-family: sans-serif;
  background: linear-gradient(
    to right,
    rgba(40, 52, 59, 1) 5%,
    rgba(130, 140, 149, 1) 44%,
    rgba(130, 140, 149, 1) 65%,
    rgba(130, 140, 149, 1) 65%,
    rgba(130, 140, 149, 1) 81%,
    rgba(130, 140, 149, 1) 81%,
    rgba(181, 189, 200, 1) 100%
  );
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.warning {
  padding: 0 0.5em;
  font-size: 1em;
  letter-spacing: 0.1em;
  background-color: rgb(241, 38, 38);
  color: rgb(233, 218, 218);
  margin-left: 1em;
}
.home{
  margin: 60px;
  margin-left: 40%
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 70px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  top: -5px;
  left: 105%;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* add form or edit form */
.formForAll {
display: flex;
flex-flow: column;
align-items: center
}
.flexForForm{
align-items: center;
border-radius: 20px;
box-shadow: 10px 15px 10px 0 rgba(0, 0, 0, 0.2);
transition: 0.6s;
margin: 1px;
text-align: center
}
.flexForForm:hover{
  box-shadow:5px 5px 60px rgba(0,0,0,0.4);
  transform: translate(-5px, -5px);
}

/* single glasses or user */
.singleFormContainer {
display: flex;
flex-flow: column;
align-items: center;

}

.singleFormContainer img {
  width: 30%
}
.singleForm{
align-items: center;
border-radius: 20px;
box-shadow: 10px 15px 10px 0 rgba(0, 0, 0, 0.2);
transition: 0.6s;
text-align: center
}
.singleForm:hover{
  box-shadow:5px 5px 60px rgba(0,0,0,0.4);
  transform: translate(-5px, -5px);
}
/*PAGINATION BAR*/
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  list-style-type: none;
  border: 2px solid black;
  height: 50px;
  background: linear-gradient(
    to bottom,
    rgba(167, 207, 223, 1) 0%,
    rgba(35, 83, 138, 1) 100%
  );
}

.pagination a {
  border: 1px solid;
  padding: 5px;
  color: black;
  transition: color 0.5s ease;
  background: linear-gradient(
    to bottom,
    rgba(181, 189, 200, 1) 0%,
    rgba(130, 140, 149, 1) 36%,
    rgba(40, 52, 59, 1) 100%
  );
  cursor: pointer;
}

.pagination a:hover {
  color: white;
  text-shadow: 2px 2px 2px rgb(78, 75, 75);
}

.pagination a:focus {
  background: linear-gradient(
    to right,
    rgba(167, 207, 223, 1) 2%,
    rgba(167, 207, 223, 1) 2%,
    rgba(35, 83, 138, 1) 50%,
    rgba(167, 207, 223, 1) 98%
  );
  color: black;
}

/*ALL SUNGLASSES*/
.all-sunglasses {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background: linear-gradient(
    to right,
    rgba(40, 52, 59, 1) 5%,
    rgba(130, 140, 149, 1) 44%,
    rgba(130, 140, 149, 1) 65%,
    rgba(130, 140, 149, 1) 65%,
    rgba(130, 140, 149, 1) 81%,
    rgba(130, 140, 149, 1) 81%,
    rgba(181, 189, 200, 1) 100%
  );
}

.all-sunglasses h1 {
  grid-column-start: 2;
}

.sunglasses-view {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.sunglasses-card {
  border: 2px solid black;
  margin: 5px;
  border-radius: 10%;
  padding: 10px;
  background: linear-gradient(
    to right,
    rgba(214, 249, 255, 1) 0%,
    rgba(158, 232, 250, 1) 100%
  );
}
.sunglasses-card img {
  object-fit: contain;
  max-width: 100%;
  padding: 10px;
}

/*SIDEBAR*/
.sidebar {
  margin-left: 10px;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
  position: absolute;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10%;
  background: linear-gradient(to bottom, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);
}

.sidebar input {
  cursor: pointer;
}

/*NAVBAR*/
.navbar {
  align-items: center;
  background: linear-gradient(45deg, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 25%,rgba(130,140,149,1) 16%,rgba(40,52,59,1) 95%,rgba(40,52,59,1) 98%,rgba(40,52,59,1) 99%);  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px;
  justify-content: space-evenly;
  border-bottom: 5px solid black;
  color: white;
}

.navbar a {
  text-decoration: none;
  color: white;
  transition: color 0.5s ease;
  justify-content: center;
}

.navbar a:hover {
  color: rgb(14, 13, 13);
  text-shadow: 2px 2px 2px rgb(78, 75, 75);
}


.user-card {
  border: 2px solid black;
  margin: 5px;
  border-radius: 10%;
  padding: 10px;
  background: linear-gradient(
    to right,
    rgba(214, 249, 255, 1) 0%,
    rgba(158, 232, 250, 1) 100%
  );
}
.allorders img {
  width:30%
}
