* {
  box-sizing: border-box;
  font-family: 'Germania One', cursive;
}


body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.warning {
  padding: 0 0.5em;
  font-size: 1em;
  letter-spacing: 0.1em;
  background-color: rgb(241, 38, 38);
  color: rgb(233, 218, 218);
  margin-left: 1em;
}
.tooltip {
  position: relative;
  display: inline-block;

}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 70px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  top: -5px;
  left: 105%;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

