* {
  box-sizing: border-box;
  font-family: 'Germania One', cursive;
  /* border: 1px black solid */
}


body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.warning {
  padding: 0 0.5em;
  font-size: 1em;
  letter-spacing: 0.1em;
  background-color: rgb(241, 38, 38);
  color: rgb(233, 218, 218);
  margin-left: 1em;
}
.tooltip {
  position: relative;
  display: inline-block;

}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 70px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  top: -5px;
  left: 105%;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.allSunglasses {
display: flex;
flex-flow: column;
align-items: center
}
.flexAllSunglasses{
align-items: center;
/* margin-left: 35%;
margin-right: 35%; */
/* border: 1px black solid; */
border-radius: 20px;
box-shadow: 10px 15px 10px 0 rgba(0, 0, 0, 0.2);
transition: 0.6s;
margin: 1px;

}
.flexAllSunglasses:hover{
  box-shadow:5px 5px 60px rgba(0,0,0,0.4);
  transform: translate(-5px, -5px);
}
